<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <giftcard>
            <general>
                <enable_giftcard>1</enable_giftcard>
            </general>
            <code_config>
                <length>12</length>
            </code_config>
        </giftcard>
    </default>
</config>
